<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Pupil/Desktop/Team11_TestNG_Project/src/test/java/tests/US006"><classes><class name="tests.US006.US_01"><methods><include name="test01"/></methods></class></classes></test></suite>